* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background: linear-gradient(to right, #e0f7fa, #ffffff); */
  margin: 0;
  padding: 2rem;
  color: #333;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  color: #00796b;
  text-align: center;
  margin-bottom: 1rem;
}

form {
  width: 100%;
  max-width: 400px;
  padding: 30px 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: fadeIn 0.8s ease;
}

input[type="text"],
input[type="submit"],
button {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
}

input[type="submit"],
button {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover,
button:hover {
  background-color: #388e3c;
}

p {
  font-size: 1.1rem;
  text-align: center;
  color: #555;
  max-width: 500px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.gradient-background {
  background: linear-gradient(300deg, #feff80, #87ff80, #8099ff);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
}
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
